/*-----Login-----------*/

#breeze_login {
	width: 500px;
	min-height: 250px;
	background-color:#ffffff;
	border:#ccc solid 2px;
	position:absolute;
	top:30%;
	left:50%;
	margin-top:-100px;
	margin-left:-250px;
	text-align:left;
	padding:15px;
	font-size:12px;
	z-index:50;
}

#close {
position:absolute;
top:15px;
right:15px;
background-color:#00CC99
}

#bl_logo {
background-image:url(../../Images/breeze_logo.gif);
background-repeat:no-repeat;
width:160px;
height:56px;
margin-left:320px;
}

#bl_title {
float:left;
font-size:16px;
font-weight:bold;
color:#666;
background-image:url(../../Images/bl_back.jpg);
background-repeat:repeat-y;
width:300px;
height:20px;
padding:10px;
margin-top:20px;
}

#bl_content {
color:#666;
}

.bl_hide {
display:none
}

.bl_left {
float:left;
width:150px;
min-height:30px;
color:#9bad1d;
font-size:1.0em;
font-weight:bold;
}

.bl_right {
min-height:30px;
}

.Error_Message {
color:#FF0000;
}

